[Unit]
Description=Datadog Monitoring Service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill dd-agent
ExecStartPre=-/usr/bin/docker rm dd-agent
ExecStartPre=/usr/bin/docker pull datadog/docker-dd-agent

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill dd-agent
ExecStartPre=-/usr/bin/docker rm dd-agent
ExecStartPre=/usr/bin/docker pull datadog/docker-dd-agent
# Note that the API key needs to have been set (on any machine) with etcdctl set /ddapikey [key].
ExecStart=/usr/bin/bash -c \
  "/usr/bin/docker run --privileged --name dd-agent -h $(hostname) \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /proc/mounts:/host/proc/mounts:ro \
    -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
    -e API_KEY=$(etcdctl get /ddapikey) \
datadog/docker-dd-agent"

[X-Fleet]
Global=true
