[Unit]
Description=Announce production MySQL DB
BindsTo=db-prod.service
After=db-prod.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/db/prod %H:3306 --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/db/prod

[X-Fleet]
MachineOf=db-prod.service
