[Unit]
Description=Production MySQL DB
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill db-prod
ExecStartPre=-/usr/bin/docker rm db-prod
ExecStartPre=/usr/bin/docker pull hkjn/coreosdb:latest
ExecStart=/usr/bin/docker run -p 3306:3306 --name db-prod --env DB_USER=produser --env DB_PASSWORD=prodsecret hkjn/coreosdb:latest
ExecStop=/usr/bin/docker stop db-prod

[X-Fleet]
Conflicts=db-prod.service

