[Unit]
Description=Announce test MySQL DB
BindsTo=db-test.service
Requires=db-test.service
After=db-test.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/db/test %H:3310 --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/db/test

[X-Fleet]
MachineOf=db-test.service
