[Unit]
Description=Announce test web server
BindsTo=web-test.service
After=web-test.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/web/test $(ip addr list eth0|grep 'inet ' | cut -d' ' -f6 | cut -d/ -f1):12000 --ttl 60; sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/web/test

[X-Fleet]
MachineOf=web-test.service
