[Unit]
Description=Test web server
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill web-test
ExecStartPre=-/usr/bin/docker rm web-test
ExecStartPre=/usr/bin/docker pull hkjn/coreosweb:latest
ExecStart=/usr/bin/docker run -p 127.0.0.1:9000:9000 --name web-test --env STAGE=test -t hkjn/coreosweb:latest
ExecStop=/usr/bin/docker stop web-test

[X-Fleet]
Conflicts=web-test.service

