[Unit]
Description=Announce test API server
BindsTo=api-test.service
After=api-test.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/api/test $(ip addr list eth0|grep 'inet ' | cut -d' ' -f6 | cut -d/ -f1):3310 --ttl 60; sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/api/test

[X-Fleet]
MachineOf=api-test.service
