#
# This is a systemd service for running a system report_client, which should be copied
# to /usr/lib/systemd/user/ (or /etc/systemd/user/ on CoreOS) to enable it as a user service.
#
# It can then be started with systemctl --user start report_client.service.
#
[Unit]
Description=report
After=network-online.target

[Service]
Environment=PATH=/usr/bin/:/opt/bin:/bin
Environment=REPORT_ADDR=mon.hkjn.me:50051
Environment=REPORT_NAME=%H
Environment=REPORT_FACTS_PATH=/etc/report/facts.json
Environment=REPORT_DEBUGGING=true

ExecStartPre=-/bin/bash -c "gather_facts > /etc/report/facts.json"
ExecStart=/bin/bash -c report_client

[Install]
WantedBy=network-online.target
