#
# This is a systemd service for running report_client, which should be copied
# to /lib/systemd/system/.
#
# It can then be started with systemctl start report_server.service.
#
[Unit]
Description=report
After=network-online.target

[Service]
EnvironmentFile=/etc/report/report.env
ExecStart=/bin/bash -c " \
    REPORT_SLACK_TOKEN=$(cat /etc/secrets/slack/token.asc) \
    /opt/bin/report_server"

[Install]
WantedBy=network-online.target
